$body-bg : #E5E5E5;
$box-shadow : #797878;
$border-grey : #bec1c2;
$dark-grey : #5e6061;
$font-weight-eight : 800;
$font-weight-five : 500;
$font-weight-four : 400;
$font-weight-nine : 900;
$font-weight-six : 600;
$green-clr : #51B154;
$grey-color : #848D95;
$hover-bg : #eee;
$line-bottom : #b7bdc2;
$modal-text : #4e555a;
$navbar-bg : #1B8AF8;
$notification-red : #d9534f;
$offline-user : #FA5551;
$profession-grey : #747677;
$red-color : #f8351b;
$white-clr : #ffffff;