@import '../shared/colors.scss';
.timeline-posts-wrap {
    .profile-about-container {
        margin-top: 25px;
    
        .basic-information {
            background-color: $white-clr;
            border-radius: 4px;
    
            .about-header {
                border-bottom: 1px solid $grey-color;
                padding: 20px;
                padding-bottom: 30px;
    
                span {
                    color: $grey-color;
                    font-size: 15px;
                    font-weight: $font-weight-five;
                }
    
                a {
                    background-color: $navbar-bg;
                    border-radius: 2px;
                    color: $white-clr;
                    cursor: pointer;
                    float: right;
                    padding: 5px;
                    text-align: center;
                    width: 4%;
                }
            }
    
            .basic-info-content {
                padding: 35px;
                padding-bottom: 15px;
    
                .basic-info-form {
                    display: inline;
    
                    .basic-info-sub-wrap {
                        text-align: center;
    
                        button {
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
    
                .basic-info-label-values {
                    display: inline-block;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
    
                    li {
                        height: 60px;
    
                        .basic-info-label {
                            display: inline-block;
                            width: 25%;
                            span {
                                font-weight: $font-weight-six;
                                width: 20%;
                            }
                        }
    
                        .basic-info-values {
                            display: inline-block;
                            width: 70%;
                            span {
                                color: $grey-color;
                                font-weight: $font-weight-five;
                                outline: none;
                                padding: 5px;
                                width: 100%;
        
                                &:focus {
                                    border: 1px solid $grey-color;
                                    border-radius: 2px;
                                }
        
                                &.error {
                                    color: $red-color;
                                }
                            }
                        }
                        
    
                        .focused {
                            border: 1px solid $grey-color;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    
        .line-between-about {
            border-bottom: 3px solid $line-bottom;
            margin: 25px 0;
        }
    
        .editable {
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .timeline-posts-wrap {
        .profile-about-container {
            .basic-information {
                .about-header {
                    a {
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .timeline-posts-wrap {
        margin-top: 50px;
        .profile-about-container {
            .basic-information {
                .about-header {
                    a {
                        width: auto;
                    }
                }
                .basic-info-content {
                    .basic-info-label-values {
        
                        li {
                            .basic-info-label {
                                display: block;
                                width: 100%;
                                span {
                                    width: 20%;
                                }
                            }
        
                            .basic-info-values {
                                display: block;
                                width: 100%;
                                span {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}