@import '../shared/colors.scss';

.timeline-posts-wrap {
    .frnd-request-wrap {
        .frnd-request-container {
            border-radius: 5px;
            margin: 25px 0;
    
            .friend-tab {
                background-color: $white-clr;
                border-radius: 5px;
                display: inline-block;
                margin: 0 14px 25px 0;
                padding: 10px;
                position: relative;
                width: 49%;
    
                &:nth-child(even) {
                    margin-right: 0;
                }
    
                span {
                    color: $grey-color;
                    float: right;
                }
    
                img {
                    height: 115px;
                    width: 110px;
                }
    
                .friend-content {
                    display: inline-block;
                    padding: 10px;
                    position: absolute;
                    top: 15%;
    
                    p {
                        &:first-child {
                            font-size: 15px;
                            font-weight: $font-weight-six;
                            margin: 0 0 5px 0;
                        }
    
                        &:last-child {
                            color: $grey-color;
                            font-size: 13px;
                        }
                    }
    
                    input {
                        background-color: $navbar-bg;
                        color: $white-clr;
                        font-size: 12px;
                        padding: 4px;
    
                        &:focus {
                            outline: none;
                        }
                    }
    
                    .user-id {
                        display: none;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .timeline-posts-wrap {
        .frnd-request-wrap {
            .frnd-request-container {
                .friend-tab {
                    width: 90%;
                    .friend-content {
                        top: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .timeline-posts-wrap {
        margin-top: 50px;
        .frnd-request-wrap {
            .frnd-request-container {
                .friend-tab {
                    width: 100%;
                    .friend-content {
                        top: 0;
                    }
                }
            }
        }
    }  
}