@import '../shared/colors.scss';

.main-container {
    padding-top: 50px;

    .profile-container {

        .profile-breadcrumb {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                font-size: 15px;
                font-weight: $font-weight-five;
                padding-right: 5px;
                vertical-align: middle;

                &:nth-child(even) {
                    color: $grey-color;
                    font-size: 9px;
                    font-weight: $font-weight-nine;
                }

                a {
                    color: $navbar-bg;
                }
            }
        }

        .banner {
            position: relative;
            .banner-img {
                width: 100%;
            }

            .friend-user-data {
                position: absolute;
                top: 120px;
                width: 23%;

                .profile-data-container {
                    background-color: $white-clr;
                    border-radius: 4px;
                    margin-bottom: 30px;
    
                    .profile-pic {
                        width: 100%;
                        padding: 15px;
                    }
    
                    .profile-text {
                        text-align: center;
    
                        span {
                            font-size: 19px;
                        }
    
                        h6 {
                            font-size: 13px;
                            margin: 0;
                        }
                    }
    
                    .user-statistics {
                        text-align: center;
    
                        p {
                            display: inline-block;
                            font-size: 15px;
                            margin: 20px 5px;
                            width: 25%;
    
                            span {
                                color: $navbar-bg;
                                display: block;
                                font-size: 20px;
                            }
                        }
                    }

                    .who-to-follow-text {
                        border-bottom: 1px solid $border-grey;
                        color: $dark-grey;
                        font-size: 15px;
                        font-weight: $font-weight-five;
                        padding: 20px;

                        a {
                            background-color: $navbar-bg;
                            cursor: pointer;
                            float: right;
                        }
                    }
                    .suggestion-wrap {
                        position: relative;

                        .follow-suggestions {
                            list-style: none;
                            padding: 20px;
    
                            li {
                                padding-bottom: 10px;

                                .profile-status {
                                    position: relative;
    
                                    img {
                                        border-radius: 50%;
                                        float: left;
                                        width: 20%;
                                    }
        
                                    .online {
                                        top: 35px;
                                        color: $green-clr;
                                        font-size: 8px;
                                        position: absolute;
                                        right: 80%;
                                        z-index: 1000;
                                    }

                                    .offline {
                                        color: $offline-user;
                                    }
                                }
    
                                .profile-name {
                                    display: inline-block;
                                    padding-left: 15px; 
    
                                    p {
                                        margin: 0;
                                    }
    
                                    .name {
                                        font-weight: $font-weight-six;
                                    }
    
                                    .profession {
                                        color: $profession-grey;
                                        font-size: 13px;
                                        font-weight: $font-weight-five;
                                    }
                                }
                            }
                        }
                    }

                    .only-frnds-wrap {
                        padding: 20px 0;
                        text-align: center;

                        .friend-dp {
                            border-radius: 50%;
                            margin: 0 10px 10px 0;
                            width: 23%;
                        }
                    }
                }
            }
        }

        .timeline-container {
            background-color: $body-bg;
            float: right;
            width: 75%;

            .timeline-navbar {
                background-color: $white-clr;
                padding: 0;
                .timeline-bar {
                    padding: 0;
                    li {
                        color: $dark-grey;
                        cursor: pointer;
                        font-size: 17px;
                        font-weight: $font-weight-four;
                        padding: 20px;
    
                        &:focus {
                            outline: none;
                        }
    
                        &:hover {
                            background-color: $hover-bg;
                        }
                    }
    
                    li.active {
                        border-radius: 0;
                        border-bottom: 5px solid $navbar-bg;
    
                        &:hover {
                            background-color: $white-clr;;
                        }
                    }
                }
            }
        }
    }
}

.add-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

@media only screen and (max-width: 1024px) {
    .main-container {
        .profile-container {
            .banner {
                .friend-user-data {
                    width: 35%;
                } 
            }
            .timeline-container {
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .main-container {
        .profile-container {
            .banner {
                .friend-user-data {
                    position: static;
                    width: 100%;
                } 
            }
            .timeline-container {
                width: 100%;
                .timeline-navbar {
                    background-color: inherit;
                    float: left;
                    .timeline-bar {
                        background-color: $white-clr;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}